@import "@/styles/utils";
.ButtonAnimals{
  background-color: gray;
  border-radius: 10px;
  color: white;
  text-align: center;
  height: 50px;
  width: 150px;

}

.ButtonsBox{
  display: flex;
  gap: 20px;
}
